    
/* footer */
footer{
    margin-top: -3px;
}

.footer_background{
    
    background-image: url("../imagens/Rodapé.png");
    width: 940px;
    height: 100px;
  }



.footer_logo{
margin: 1% 0 0 48%;
align-self: center;
height: 30px;
}
.footer_p{
text-align: center;
}
/* footer */