/* comprimento do menu*/
.sessão_menu{
  height: 1500px;

}

/* comprimento do corpo*/
.corpo{
  height: 1500px;
}

/*titulo*/
.h2_destaques{
    font-size: 250%;
    padding: 2% 0% 0 0;
  }

.h2_destaquesH{
  margin-top: 10%;
  font-size: 250%;
  padding: 2% 0% 0 0;
}
.hr_destaques{
  background:var(--vermelho);
  width: 40%;
  margin-left: 30%;
  border-color:var(--vermelho);
}

.p_historia{
    margin-left: 10%;
    margin-right:10%;
    font-size: 120%;
}

/*titulo*/

.retangulos_destaques{
  display: inline-block;
  background-color:var(--vermelho);
  width: 500px;
  height: 380px;
  border-radius: 10%;
  margin-top: 2%;
}
.reserva{
  font-size: 150%;
}

.area_detalhes{
  text-align: center;
  height: 100px;
  width: 350px;
}
.formulario{
  color: var(--destaques);
  font-size: 20px;
}
 