:root{
    --preto:#0D0D0D;
    --cinza:#E2D8CB;
    --amarelo:#CEAD84; 
    --vermelho:#8C3A3A;
    --destaques:#E1D6C9;
}

.corpo{
    display:inline-block;
    vertical-align: top;
    margin-left: -4px;
    
    width: 690px;
    background-color: var(--destaques);
    text-align: center;
}  