/* Menu */
ul {
  position: fixed;
  width: 250px;
}

li {
  box-sizing: border-box;
  background-color:var(--preto);
}

li a {
  display:block;
  color: var(--amarelo);
  text-align: center; 
  padding: 40px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--vermelho)
}
.sessão_menu{
  background-color:var(--preto);
  width: 250px;
  display:inline-block;
}