/* tamanho do menu*/
.sessão_menu{
  height: 0;
}


/*altura site */
.corpo{
  height: 940px;
}


/*banner*/

.banner_background{
  background-image: url("../imagens/Banner.png");
  width: 34%;
  height: 270px;
  margin-left: 33%;
}

.banner_p{
  color: var(--cinza);
  text-align: center;
  padding: 100px 39% 0% 5%;
  font-size: 400%;
  font-style:oblique;
}

/*banner*/


/*Destaques*/

.destaques{
  vertical-align: top;
}
.h2_destaques{
  font-size: 250%;
  padding: 2% 0% 0 0;
}
.hr_destaques{
  background:var(--vermelho);
  width: 30%;
  margin-left: 35%;
  border-color:var(--vermelho);
}

/* cards destaques*/

.retangulos_destaques{
    display: inline-block;
    background-color: #8C3A3A;
    width: 161px;
    height: 200px;
    border-radius: 10%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.img_destaques{
  padding: 15%;
}
.p_imagem{
  font-size: 250%;
}
/*junção de tudo*/
